# Tuple in Python

In [19]:
city=('Mumbai','Delhi','Bangalore')
print(type(city))

<class 'tuple'>

In [20]:
city=['Mumbai','Delhi','Bangalore']
print(type(city))

<class 'list'>

In [21]:
# Initialize the tuple
club=('Data Science','Machine Learning',25,14)
print(type(club))

<class 'tuple'>

In [22]:
print(club)

('Data Science', 'Machine Learning', 25, 14)

In [28]:
# Accessing the elements of Tuple
print(club[3])

14

In [24]:
# club[0]='Deep Learning'
#Tuple is immutable

In [11]:
print(club[1])

Machine Learning

In [12]:
print(club[2])

25

In [13]:
club2= list(club)
print(type(club2))

<class 'list'>

In [14]:
print(club2)

['Data Science', 'Machine Learning', 25, 14]

In [15]:
club2[0] = "Artificial Intelligenec"
club2[2] = 7

In [16]:
print(club2)

['Artificial Intelligenec', 'Machine Learning', 7, 14]

# Unpacking tuple

In [30]:
print("Unpacking Tuple")
my_tuple =(10,20,30)
print(my_tuple)
x,y,z= my_tuple
print(x)
print(y)
print(z)

Unpacking Tuple
(10, 20, 30)
10
20
30

# Unpacking list

In [35]:
print("Unpacking list")
my_list = [40, 50, 60]
my_list.append(70)
print(my_list)

a,b,c,d = my_list
print(a)
print(b)
print(c)
print(d)

Unpacking list
[40, 50, 60, 70]
40
50
60
70

# Add tuple elements

In [36]:
my_tuple = (10,40,80,90)

a,b,c,d= my_tuple
print(f"{a}+{b}+{c}+{d}={a+b+c+d}")

10+40+80+90=220

# Multiplication of elements in tuple

In [38]:
my_tuple = (10,40,80,90)

a,b,c,d= my_tuple
print(f"{a}*{b}*{c}*{d}={a*b*c*d}")

10*40*80*90=2880000

# Enumerate in Tuple

In [39]:
my_tuple = ("One","Two","Three")

for index, value in enumerate(my_tuple):
    print(index,value)

0 One
1 Two
2 Three

In [40]:
my_tuple = ("One","Two","Three")

for index, value in enumerate(my_tuple,1):
    print(index,value)

1 One
2 Two
3 Three

In [41]:
my_tuple = ("One","Two","Three")

for index, value in enumerate(my_tuple,5):
    print(index,value)

5 One
6 Two
7 Three

In [44]:
my_courses = ("Data Science","Machine Learning","Data Analytics")

for index, value in enumerate(my_courses,3):
    print(index,value)

3 Data Science
4 Machine Learning
5 Data Analytics

# Nested tuple in Python

In [57]:
clubs = (("Uttar Pradesh", "Lucknow", 1899,
            [
                (3, "DS"),
                (5, "ML"),
                (7, "AI"),
            ]
         ),
         ("Panjab", "Chandigar", 1902,
            [
                (7, "Maths"),
                (9, "Hindi"),
                (10, "English"),
            ]
         ),
         ("Karnataka", "Bangluru", 1878,
            [
                (6, "Eco"),
                (7, "Quant"),
                (14, "Aptitude"),
            ]
         ),
         ("Maharashtra", "Mumbai", 1886,
            [
                (7, "Marathi"),
                (14, "Telugu"),
                (16, "Oriya"),
            ]
         ),
         )

In [58]:
print(clubs[0])

('Uttar Pradesh', 'Lucknow', 1899, [(3, 'DS'), (5, 'ML'), (7, 'AI')])

In [59]:
print(clubs[1])

('Panjab', 'Chandigar', 1902, [(7, 'Maths'), (9, 'Hindi'), (10, 'English')])

In [60]:
print(clubs[2])

('Karnataka', 'Bangluru', 1878, [(6, 'Eco'), (7, 'Quant'), (14, 'Aptitude')])

In [61]:
print(clubs[3])

('Maharashtra', 'Mumbai', 1886, [(7, 'Marathi'), (14, 'Telugu'), (16, 'Oriya')])

# The name of first Subject from Maharashtra

In [63]:
# The name of first Subject from Maharashtra
print(clubs[3][3][0][1])

Marathi

# The was Bangluru City founded.

In [65]:
print(clubs[2][2])

1878

# Duration of Last course of UP

In [67]:
print(clubs[0][3][2][0])

7

# The tuple representing the 2nd Course in Punjab

In [69]:
print(clubs[1][3][1])

(9, 'Hindi')