# For Loop in Python

In [1]:
vegetables = ["Carrot", "Broccoli", "Corn"]
print(vegetables)

['Carrot', 'Broccoli', 'Corn']

In [2]:
vegetables = ["Carrot", "Broccoli", "Corn"]

for i in vegetables:
  print(i)

Carrot
Broccoli
Corn

In [6]:
numbers = [10, 20, 30, 40]
names = ['Syda', 'Vishal', 'Zeenat', 10, 1.5, 65.9]

for i in names:
  print(i, end=' ')

Syda Vishal Zeenat 10 1.5 65.9

In [7]:
for i in numbers:
  print(i,end=' ')

10 20 30 40

In [11]:
for i in range(11, 26):
  print(i, end=' ')

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [12]:
numbers

[10, 20, 30, 40]

In [15]:
for index in range(4):
    print(index)
    numbers[index] = numbers[index] * 2

0
1
2
3

In [16]:
numbers

[40, 80, 120, 160]

# Problem 1: Find the max number in list

In [18]:
student_scores = [80, 99, 526, 65, 75, 55]
highest_score = 0

for score in student_scores:
  if score > highest_score:
    highest_score = score

print(f"The highest score in the class is: {highest_score}")

The highest score in the class is: 526

# Problem 2: Say Hi, you are rude !!!!

In [22]:
greet= input("Hello !!! Say Hi.....")
name=input("What is your name ?")

while greet!='Hi':
  greet= input("You are Rude !! Say Hi.....")
print('Thanks....', name)

Hello !!! Say Hi.....Hi
What is your name ?Rahul
Thanks.... Rahul

In [24]:
i=1
while i<6:
  print(i,"Vishal")
  i=i+1

1 Vishal
2 Vishal
3 Vishal
4 Vishal
5 Vishal

In [34]:
name='Vijay Kumar'
for i in name:
  print(i, end='')

Vijay Kumar

# For loop start, stop, step

In [40]:
for i in range(11,31,1):
  print(i, end=' ')

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30

# Problem 3: Find the instance(relevant data type) in the List

In [41]:
custom_list = [11, 30.1, 90.2, 30, 45.1, 54, '54']
for item in custom_list:
    if isinstance(item, int):
        print(item)

11
30
54

In [44]:
custom_list = [11, 30.1, 90.2, 30, 45.1, 54, '54']
for item in custom_list:
    if isinstance(item, str):
        print(item, end=' ')

54

# Problem 4: Add odd numbers given in List

In [45]:
def add_odd_numbers():
  total = 0
  for number in range(1, 101, 2):
    total =total+ number
  return total

print(add_odd_numbers())

2500

In [46]:
# Add even numbers
def add_even_numbers():
  total = 0
  for number in range(0, 101, 2):
    total =total+ number
  return total

print(add_odd_numbers())

2500

In [48]:
# Find the output of this code ?
# while 4 > 2:
#     print(1)

In [51]:
# Find the output of this code ?

password = ""

while password != "test":
  password = input("Enter Password: ")

Enter Password: delhi
Enter Password: test

# Continue and Break in Loop

In [53]:
# Break in Loop

for char in 'Data Science':
  if char=='c':
    break
  print(char)

print('After Break')

D
a
t
a

S
After Break

In [59]:
# Continue in Loop

for char in 'Data Science':
  if char=='i':
    continue
  print(char, end='')

print()
print('After Continue')

Data Scence
After Continue