In [6]:
# Revision and Doubt of Day 6
list1 = [180, 959, 56, 5, 7785, 535]
max = 0

for i in list1:
  if i > max:
    max=i

# max=0
# 80>0 ? Yes max=80
# 99>80 ? Yes max=99
# 526>99 ? Yes max=526
# 65 > 526 ? No max=526
# 75> 526 ? No max=526
# 55> 526 ? No max=526

# max=526
print(f"The highest score in the class is: {max}")

The highest score in the class is: 7785

# String in Python

In [16]:
# Spilt the String
my_string = "I love learning Python"
output = my_string.split(" ", maxsplit = 5)
print(output)

['I', 'love', 'learning', 'Python']

In [19]:
print(type(output))

<class 'list'>

In [17]:
# Joining the String
join_back = " ".join(output)
print(join_back)

I love learning Python

In [18]:
print(type(join_back))

<class 'str'>

# Problem 1: Remove all Punctuations in String

In [23]:
import string
str1 = "/*Jo#$n is @developer & mu@#$sician"
print("Original string is ", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))
print("New string is ", new_str)

Original string is  /*Jo#$n is @developer & mu@#$sician
New string is  Jon is developer  musician

# Problem 2: Backward Travasal or Print String in reverse order

In [43]:
new_string = input("Enter a string: ")
index = -1
length = -1 * len(new_string)

Enter a string: Data Science

In [51]:
new_string[-12]

'D'

In [48]:
len(new_string)

12

In [27]:
length

-6

In [31]:
new_string[-6]

'S'

In [52]:
while index >= length:
  letter = new_string[index]
  print(letter, end="")
  index = index-1

ecneicS ataD

# Shortcut Method for above Problem

In [54]:
name=input("Enter your Name...")
print(name[::-1])

Enter your Name...Jyothi Kumari
iramuK ihtoyJ

# Problem 3: Count given Character in a String using Python

In [57]:
def count_letter(word, letter):
    counter = 0
    for char in word:
        if char == letter:
          counter += 1
    return counter

print(count_letter("pharmaceutical", "a"))

3

# Problem 4: Replace Character in String using Python

In [63]:
custom_string = 'I love Python???? I like learning it??????'
new_string = custom_string.replace("?", "!",10)
print(custom_string)
print(new_string)

I love Python???? I like learning it??????
I love Python!!!! I like learning it!!!!!!

In [65]:
custom_string = 'I love Python ???? I like learning it ??????'
new_string = custom_string.replace("?", "!")
print(custom_string)
print(new_string)

I love Python ???? I like learning it ??????
I love Python !!!! I like learning it !!!!!!

In [67]:
custom_string = 'I love China???? I like China\'s toys it??????'
new_string = custom_string.replace("China", "India",1)
print(custom_string)
print(new_string)

I love China???? I like China's toys it??????
I love India???? I like China's toys it??????

# Problem 5: String Manipulation and Extract float values

In [68]:
custom_string = 'X-MAPDS-Confidence:0.8547'
index_col = custom_string.find(":")

In [69]:
index_col

18

In [71]:
custom_string = 'Pharmaceutical:0.1452'
index_col = custom_string.find(":")
number = custom_string[index_col + 1 : ]
print(number)

0.1452

In [72]:
custom_string = 'Sachin:0.84'
index_col = custom_string.find(":")
number = custom_string[index_col + 1 : ]
print(number)

0.84

In [73]:
custom_string = 'Machine Learning:0.7458'
index_col = custom_string.find(":")
number = custom_string[index_col + 1 : ]
print(number)

0.7458

# Problem 6: Print Pattern using String

In [74]:
def print_pattern(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print("*", end = ' ')
        print()

    for i in range(n, 0, -1):
        for j in range(0, i-1):
            print("*", end = ' ')
        print()

print_pattern(7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [75]:
def print_pattern(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print("*", end = ' ')
        print()

    # for i in range(n, 0, -1):
    #     for j in range(0, i-1):
    #         print("*", end = ' ')
    #     print()

print_pattern(7)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [76]:
def print_pattern(n):
    # for i in range(0, n):
    #     for j in range(0, i+1):
    #         print("*", end = ' ')
    #     print()

    for i in range(n, 0, -1):
        for j in range(0, i-1):
            print("*", end = ' ')
        print()

print_pattern(7)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [83]:
def print_pattern(n):
    for i in range(0, n):
        for j in range(0, i+1):
            print(i+1, end = ' ')
        print()

    for i in range(n, 0, -1):
        for j in range(0, i-1):
            print(i-1, end = ' ')
        print()

print_pattern(7)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [89]:
def print_pattern(n):
    for ml in range(0, n):
        for saya in range(0, ml+1):
            print(saya+1, end = ' ')
        print()

    for ml in range(n, 0, -1):
        for saya in range(0, ml-1):
            print(saya+1, end = ' ')
        print()

print_pattern(7)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1