# Initialization of List

In [5]:
nums = [7,3,9]

In [6]:
print(nums)

[7, 3, 9]

In [7]:
nums[0]

7

In [8]:
nums[1]

3

In [9]:
nums[2]

9

In [10]:
nums[1]=85
nums

[7, 85, 9]

# Loop with range

In [16]:
vegetables_list = ["Carrot", "Broccoli", "Corn"]
for i in vegetables_list:
    print(i, end=" ")

Carrot Broccoli Corn

In [19]:
vegetables_list[1]='Patoto'
vegetables_list

['Carrot', 'Patoto', 'Corn']

In [17]:
vegetables_tuple = ("Carrot", "Broccoli", "Corn")
for i in vegetables_tuple:
    print(i, end=" ")

Carrot Broccoli Corn

In [21]:
# vegetables_tuple[1]='Patoto'
# vegetables_tuple

In [23]:
list1 = [1,2,3,4, 'a', 'b', 'c', 'd']

check = 3 not in list1
print(check)

False

In [24]:
vegetables = ["Tomato", "Cucumber", "Broccoli", "Onion", "Garlic"]
print(vegetables[:-2])
print(vegetables)

['Tomato', 'Cucumber', 'Broccoli']
['Tomato', 'Cucumber', 'Broccoli', 'Onion', 'Garlic']

# Lenth of List

In [26]:
countries_of_UK = ["England", "Scotland", "Northern Ireland ", "Wales"]
num_of_countries = len(countries_of_UK)

In [30]:
num_of_countries

4

In [38]:
countries_of_UK

['England', 'Scotland', 'Northern Ireland ', 'Wales']

In [37]:
countries_of_UK[3]

'Wales'

In [36]:
countries_of_UK[num_of_countries-1]

'Wales'

# Set and Interview Questions

In [45]:
my_set = set()
while len(my_set) < 5:
    element = int(input("Please enter value: "))
    my_set.add(element)

Please enter value: 25
Please enter value: 18
Please enter value: 62
Please enter value: 37
Please enter value: 81

In [46]:
print(my_set)

{37, 81, 18, 25, 62}

In [41]:
my_set

set()

In [47]:
fruit_list = ["apple", "apple", "orange", "grape", "grape", "orange", "apple"]
fruit_list

['apple', 'apple', 'orange', 'grape', 'grape', 'orange', 'apple']

In [48]:
fruit_set=set(fruit_list)
fruit_set

{'apple', 'grape', 'orange'}

# Problem 1: Remove Duplicate elements from List

In [50]:
my_list = ["apple", "apple", "orange", "grape", "grape", "orange", "apple"]
print(my_list)
my_set = set(my_list)
print(my_set)
my_list = list(my_set)
print(my_list)

['apple', 'apple', 'orange', 'grape', 'grape', 'orange', 'apple']
{'apple', 'orange', 'grape'}
['apple', 'orange', 'grape']

# Union over Set

In [51]:
fruits = {"apple", "pear", "lemon", "grape", "orange"}
vegetables = {"cucumber", "garlic", "onion", "broccoli", "pepper"}

all_together1 = fruits.union(vegetables)
print(all_together1)

{'onion', 'lemon', 'garlic', 'apple', 'broccoli', 'cucumber', 'pepper', 'pear', 'orange', 'grape'}

In [52]:
all_together2 = vegetables.union(fruits)
print(all_together2)

{'onion', 'lemon', 'garlic', 'apple', 'broccoli', 'cucumber', 'pepper', 'pear', 'orange', 'grape'}

# pipe operator for union in Set in Python

In [53]:
# pipe operator
all_together3 = vegetables | fruits
print(all_together3)

{'onion', 'lemon', 'garlic', 'apple', 'broccoli', 'cucumber', 'pepper', 'pear', 'orange', 'grape'}

In [54]:
set1 = {10,20,30,40,50}
set2 = {60,20,50,70}

set3 = set1.union(set2)
print(set3)

{70, 40, 10, 50, 20, 60, 30}

# Problem 2: Create Random and Intersection in Set Elements

In [55]:
set1 = set(range(20))
print(set1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [56]:
set2 = set(range(0,20,2))

print(set2)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [57]:
set3 = set(range(0,20,3))
print(set3)

{0, 3, 6, 9, 12, 15, 18}

In [58]:
print(set.intersection(set1, set2, set3))

{0, 18, 12, 6}

# Problem 3: Find respective words in paragraph

In [59]:
speech = """Success is no accident. It is hard work, perseverance, learning, studying, sacrifice and most of all, love of what you are doing or learning to do."""

In [64]:
find = {"as", "but", "by", "for", "in", "of", "on", "to", "with"}

In [63]:
# Add your code here.
def find_prep(p_quote):
  words = p_quote.split()
  print(words)
  preps_used = find.intersection(words)
  return preps_used

In [65]:
find_prep(speech)

['Success', 'is', 'no', 'accident.', 'It', 'is', 'hard', 'work,', 'perseverance,', 'learning,', 'studying,', 'sacrifice', 'and', 'most', 'of', 'all,', 'love', 'of', 'what', 'you', 'are', 'doing', 'or', 'learning', 'to', 'do.']

{'of', 'to'}