# Exploring Lists in Python

Lists are versatile and mutable data structures that allow you to store and manipulate collections of items. A list in Python can contain elements of different types and is defined within square brackets ([]). Let's explore how to create lists and some examples:

In [14]:
# Creating a list
fruits = ["apple", "banana", "orange"]
fruits

['apple', 'banana', 'orange']

In [15]:
numbers = [1, 2, 3, 4, 5]
numbers

[1, 2, 3, 4, 5]

In [16]:
mixed_list = [1, "apple", True, 3.14]
mixed_list

[1, 'apple', True, 3.14]

In [17]:
# Printing the lists
print(fruits)       # Output: ['apple', 'banana', 'orange']
print(numbers)      # Output: [1, 2, 3, 4, 5]
print(mixed_list)   # Output: [1, 'apple', True, 3.14]

['apple', 'banana', 'orange']
[1, 2, 3, 4, 5]
[1, 'apple', True, 3.14]

# Accessing and Modifying List Elements

In [24]:
print(fruits[0])     # Output: apple

apple

In [23]:
fruits

['apple', 'banana', 'orange']

In [25]:
print(fruits[1])     # Output: banana

banana

In [26]:
print(fruits[2])     # Output: orange

orange

In [27]:
fruits[2]='grapes'
fruits

['apple', 'banana', 'grapes']

In [28]:
fruits[1]='papaya'
fruits

['apple', 'papaya', 'grapes']

In [29]:
fruits[0]='Cherry'
fruits

['Cherry', 'papaya', 'grapes']

# Slicing:

We can access a range of elements using slicing. It allows us to specify the start and end indices, returning a new list containing the selected elements.

In [21]:
numbers = [1, 2, 3, 4, 5]
print(numbers[1:4])   # Output: [2, 3, 4]

[2, 3, 4]

In [22]:
print(numbers[:3])    # Output: [1, 2, 3]

[1, 2, 3]

In [ ]:
print(numbers[2:])    # Output: [3, 4, 5]

# Common List Operations
Adding elements

In [30]:
# 1. Append: To add an element to the end of the list, we use the append() method.

fruits = ["apple", "banana", "orange"]
fruits.append("Watermelon")
print(fruits)

['apple', 'banana', 'orange', 'Watermelon']

In [31]:
# 2. Insert: To insert an element at a specific position, we use the insert() method.

numbers = [1, 2, 3, 4, 5]
numbers.insert(2, 10)
print(numbers)

[1, 2, 10, 3, 4, 5]

In [32]:
fruits = ["apple", "banana", "orange"]
fruits.insert(1,"Watermelon")
print(fruits)

['apple', 'Watermelon', 'banana', 'orange']

In [34]:
# 3. Remove: To remove the first occurrence of an element, we use the remove() method.

fruits = ["apple", "banana", "orange", "banana","apple", "banana"]
fruits.remove("banana")
print(fruits)

['apple', 'orange', 'banana', 'apple', 'banana']

In [36]:
# 4. Pop: To remove an element at a specific index and return its value, we use the pop() method.

numbers = [1, 2, 3, 4, 5]
popped = numbers.pop(3)
print(numbers)        # Output: [1, 2, 3, 5]
print(popped)

[1, 2, 3, 5]
4

In [37]:
# 5. Del: To remove an element at a specific index, we can use the del statement.

fruits = ["apple", "banana", "orange"]
del fruits[1]
print(fruits)

['apple', 'orange']

In [39]:
# 6. Finding elements: Index: To find the index of the first occurrence of an element, we use the index() method.

fruits = ["apple", "banana", "orange"]
index = fruits.index("orange")
print(index)

2

In [42]:
# 7. Count: To count the number of occurrences of an element, we use the count() method.

fruits = ["apple", "banana", "orange", "banana", "banana", "apple", "banana"]
count = fruits.count("banana")
print(count)

4

In [43]:
# 8. Sorting and reversing: Sort: To sort the list in ascending order, we use the sort() method.

numbers = [5, 2, 4, 1, 3]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [44]:
# 9. Reverse: To reverse the order of elements in the list, we use the reverse() method.

numbers = [1, 2, 3, 4, 5]
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

# List Comprehensive

List comprehension is a concise way to create lists based on existing lists or other iterable objects. It allows you to filter, map, and create new lists in a single line of code. Let's explore the syntax and some examples:

In [46]:
# Syntax: [expression for item in iterable if condition]
numbers = [1, 2, 3, 4, 5]
squared = [num ** 2 for num in numbers ]
print(squared)

[1, 4, 9, 16, 25]

In [47]:
# Syntax: [expression for item in iterable if condition]
numbers = [1, 2, 3, 4, 5]
squared = [num ** 2 for num in numbers if num % 2 == 0]
print(squared)

[4, 16]

In [48]:
# Example: Create a list of even numbers from 1 to 10
evens = [num for num in range(1, 11) if num % 2 == 0]
print(evens)          # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [51]:
# Example: Create a list of even numbers from 1 to 50
evens = [num for num in range(1, 51) if num % 2 == 0]
print(evens)          # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

# Built-in Functions and Methods for Lists

In [55]:
#  1. len(): The len() function returns the length of a list.
fruits = ["apple", "banana", "orange", "apple", "banana", "orange"]
length = len(fruits)
print(length)

6

In [56]:
# 2. min() and max(): The min() and max() functions return the minimum and maximum values in a list, respectively.
numbers = [1, 2, 3, 4, 5]
minimum = min(numbers)
maximum = max(numbers)
print(minimum)
print(maximum)

1
5

In [58]:
# 3. sum(): The sum() function calculates the sum of all elements in a list.
numbers = [18, 62, 13, 34, 25]
total = sum(numbers)
print(total)

152

In [59]:
# 4. sorted(): The sorted() function returns a sorted version of the list without modifying the original.

numbers = [5, 2, 4, 1, 3]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 2, 3, 4, 5]

In [62]:
# 5. clear(): The clear() method removes all elements from a list.

fruits = ["apple", "banana", "orange"]
print(fruits)
fruits.clear()
print(fruits)

['apple', 'banana', 'orange']
[]

In [63]:
# 6. copy(): The copy() method creates a shallow copy of a list.

fruits = ["apple", "banana", "orange"]
fruits_copy = fruits.copy()
print(fruits_copy)

['apple', 'banana', 'orange']

# Nested Lists

In Python, lists can also contain other lists as elements, creating a nested list structure. Let's explore how to access elements in nested lists:

In [68]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list[2])            # Output: [4, 5, 6]
print(nested_list[2][0])

[7, 8, 9]
7

# List vs. Other Data Structures

When working with collections of data in Python, it's essential to understand the differences between lists and other data structures. Here are a couple of comparisons:

**Comparison with arrays:** While arrays are fixed in size and require the NumPy library, lists in Python are dynamic and more flexible for handling collections of elements.

**Comparison with tuples:** Tuples are similar to lists but are immutable, meaning they cannot be modified after creation. Lists, on the other hand, are mutable and allow for modifications.

# Use Cases and Applications

Lists are widely used in Python programming and find an application in various scenarios, including:

Storing and managing collections of data

Iterating over elements using loops

Implementing stacks, queues, and other data structures

Sorting and manipulating data

Storing results and generating reports